body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #20232a;
    color: #61dafb;
    padding: 20px 40px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color:61dafb;
    text-decoration: none;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

footer {
    background-color: #20232a;
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    position: fixed;
    bottom:0;
    width: 100%;
    }
